[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bs4 = "*"
requests = "*"
retry = "*"
click = "*"
documentcloud = "*"
rich = "*"
html5lib = "*"

[dev-packages]
pandas = "*"
pre-commit = "*"
jupyterlab = "*"

[requires]
python_version = "3.9"
